$screen--small: 768px;
$screen--medium: 1024px;
$screen--large: 1200px;



/* Top Bar */

$topbar-bg-color: #FFF;
$topbar-height: rem-calc(50);

$topbar-link-color: black;
$topbar-link-color-active: white;
$topbar-link-bg-active: black;
$topbar-link-bg-active-hover: #222;
