rzslider {
  margin-top: 0;
  span.rz-bar.rz-selection {
    background: #333;
    //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwZTFmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmQxOTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #fc00ff 0%, #00dbde 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fc00ff), color-stop(100%,#00dbde));
    background: -webkit-linear-gradient(left,  #fc00ff 0%,#00dbde 100%);
    background: -o-linear-gradient(left,  #fc00ff 0%,#00dbde 100%);
    background: -ms-linear-gradient(left,  #fc00ff 0%,#00dbde 100%);
    background: linear-gradient(to right,  #fc00ff 0%,#00dbde 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc00ff', endColorstr='#00dbde',GradientType=1 );
  }

  .rz-pointer {
    top: -7px !important;
    width: 16px !important;
    height: 16px !important;
    background-color: #FFF !important;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    &:after {
      top: 4px !important;
      left: 4px !important;
      border-radius: 2px !important;
      display: none;
    }
  }

  .rz-limit, .rz-bubble {
    display: none;
  }
}
